@use "../../abstracts";

.section-stories {
    padding: 15rem 0;
    position: relative;

    &__stories-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: abstracts.$variables-row-gap-lg;
    }

    @include abstracts.mixins-respond(tab-portrait) {
        padding: 8rem 0;
    }
}