@use "../abstracts";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

html {
    font-size: 62.5%; // 10px

    @include abstracts.mixins-respond(big-desktop) {
        font-size: 75%; // 12px
    }

    @include abstracts.mixins-respond(tab-landscape) {
        font-size: 56.25%; // 9px
    }

    @include abstracts.mixins-respond(tab-portrait) {
        font-size: 50%; // 8px
    }
}

body {
    padding: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: abstracts.$variables-color-grey-dark;

    @include abstracts.mixins-respond(tab-portrait) {
        padding: 0;
    }

}