.container {
    max-width: 1140px;
    margin: 0 auto;
}

.mb-lg {
    margin-bottom: 8rem;
}

.mb-m {
    margin-bottom: 4rem;
}

.mb-sm {
    margin-bottom: 1.5rem;
}

.mt-lg {
    margin-top: 8rem;
}

.mt-m {
    margin-top: 4rem;
}

.mt-sm {
    margin-top: 1.5rem;
}

.text-center {
    text-align: center;
}