@use "../../abstracts";

.btn {

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        font-size: abstracts.$variables-default-font-size;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba(abstracts.$variables-color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(abstracts.$variables-color-black, .2);
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 100px;
        z-index: -1;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .4s;
    }

    &--white {
        background-color: abstracts.$variables-color-white;
        color: abstracts.$variables-color-grey-dark;

        &::after {
            background-color: abstracts.$variables-color-white;
        }
    }
}